@import url('https://fonts.googleapis.com/css?family=Ropa+Sans:400,400i&subset=latin-ext');

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 18px;
}
