$primary-color:#2a2a2a;
$color-blue:#00457c;
$white-color:#fff;
$black-color:#000;
$light-blue:#f9f9f9;
$orange-color:#f19100;
$grey-color:#f5f5f5;
$green-color:#1ea95d;
$light-red-color:#f44336;
$font-family:'Ropa Sans', sans-serif;
$normal-font:300;
$light-bold-font:500;
$bold-font:700;
$left-align:left;
$right-align:right;