<div class="form-area">
  <div class="container footer-fix">
      <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
              <form role="form">
                  <h2>Forgot your password?</h2>
                  <div class="form-group">
                      <input type="email" [(ngModel)]="formData.user" placeholder="Enter username" name="username"  class="form-control input-lg" tabindex="1" required>
                  </div>
                  <div class="row">
                       
                          <div class="col-xs-12 col-md-12">
                              <input type="submit" (click)="forgetPassword()" [disabled]="!!!formData.user" value="Send Reset Link" class="btn btn-success btn-block btn-lg" tabindex="4">
                              <span class="psw"><a class="a" (click)="login()">Back to Login</a></span>
                          </div>
                        
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>