<div id="404">
    <div class="container footer-fix padding-tb-50">
      <div class="row">
        <div class="col-md-4 col-lg-4">
         <h1 class="pgnotfound">404</h1>
         </div>
         <div class="col-md-8 col-lg-8">
          <h5>The page you are trying to access does not exist on the server.</h5>
  <p>Possible reasons:</p>
  <ul>
  <li>The page may have been moved or deleted</li>
  <li>You may have used an outdated or broken link</li>
  <li>You may have typed the address (URL) incorrectly</li>
  </ul>
  <hr>
  
  <p>We suggest you go to our site's <a href="/">Home page</a> or use one of the link below:</p>
  <ul>
  <li><a href="/login">Login</a></li>
  <li><a href="/home">Home</a></li>
  </ul> 
  
         </div>
       </div> 
  </div>
  </div>
  
  
  
  
  <!-- Extra components -->
  
  

  
  