<!-- Main start -->
<div class="quizMain">
    <div class="container">
        <div class="row">
            
            <!-- quiz left end-->
            <!-- quiz right start-->
            <div class="col-sm-12 col-md-12">
                <div class="col-sm-12 quiz-block">
                     
                      
                     <div (click)="goToQuizPage('iq')" class="quiz-block-single iq-bg">
                       <div class="quiz-block-inner">
                         <h5>Check and Enhance Your IQ tushar </h5>
                         <img class="margin-tb-5" src="assets/images/newimages/IQ.png" alt="iq">
                          
                          <p>Check and compare your iq and know your about verbal, numerical, spatial intelligence</p>
                       </div>
                     </div>

                     <div (click)="goToQuizPage('mbti')" class="quiz-block-single personality-bg" >
                       <div class="quiz-block-inner">
                         <h5>Personality Test </h5>
                         <img class="margin-tb-5"  src="assets/images/newimages/Personalitytest.png" alt="">
                          
                          <p>Know your true personality and streams of studies and professions</p>
                       </div>
                     </div>
  

 
                     <div (click)="goToQuizPage('riasec')" class="quiz-block-single knowyourinterest-bg">
                       <div class="quiz-block-inner">
                         <h5>Know Your Interest </h5>
                         <img class="margin-tb-5"  src="assets/images/newimages/KYI.png" alt="">
                          
                          <p>Learn about inherent interest and <br> related career choice</p>
                       </div>
                     </div>


  
                     


                </div>

                 <div class="col-sm-12 quiz-block">

                     <div (click)="formSubmit('wellness')" class="quiz-block-single wellness-bg">
                       <div class="quiz-block-inner">
                         <h5>Check your wellness state </h5>
                         <img class="margin-tb-5" src="assets/images/newimages/Wellness.png" alt="">
                          
                          <p>Check your wellness state and get benefits of our program</p>
                       </div>
                     </div>  

                     <div (click)="formSubmit('mentor')" class="quiz-block-single mentor-bg">
                       <div class="quiz-block-inner">
                         <h5>Get a mentor </h5>
                         <img class="margin-tb-5"  src="assets/images/newimages/Mentoring.png" alt="">
                          
                          <p>Get connected with amazing mentor to help you do better</p>
                       </div>
                     </div>

                     <div (click)="formSubmit('counselling')" class="quiz-block-single counselling-bg">
                       <div class="quiz-block-inner">
                         <h5>Look for counselling </h5>
                         <img class="margin-tb-5"  src="assets/images/newimages/Counselling.png" alt="">
                          
                          <p>Get connected to our pannel of support counselling</p>
                       </div>
                     </div>

                                        


                 </div>
            </div>
        </div>
    </div>
</div>


<a href="#" data-toggle="modal" data-target="#t_and_c_m"></a>
<!-- Modal -->
<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="iagree">I Agree</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->










